<h1>Carros Disponíveis</h1>

<% @cars.each do |car| %>
	
	<div id="car-<%= car.id %>">
		<% if car.status == "available"%>	
			<%= car.identification %>
			<%= link_to 'Efetivar locação', rental_car_rentals_path(car_id: car, rental_id: @rental), method: :post %>
		<% end %>
	</div>
<% end %>