<h1>Carros disponíveis</h1>

<% @cars.each do |car| %>
	<div class="cars">
		<%= car.identification %>
		<%= link_to 'Efetivar locação', ready_rental_path(car_id: car, rental_id: @rental), method: :post %>
	</div>
<% end %>