/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require animate
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.container {
  margin-top: 70px;
}

.botao {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titulo {
  color: rgb(226, 226, 226);
  font-size: 80px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.welcome {
  filter: brightness(50%);
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/screen-1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.navbar-items,
#logar {
  color: rgb(153, 153, 153);
}

.navbar-items:hover {
  color: white
}

.navbar-nav {
  flex-direction: initial;
  align-items: center;
} 

.navbar-nav > li {
  margin-right: 10px;
}
