
<% if @manufacturers.empty? %>
    <p>Nenhuma fabricante cadastrada</p>
<% end %>

 <% @manufacturers.each do |manufacturer| %>
    <%= link_to manufacturer.name, manufacturer, class: "card bg-light mb-3" %>
<% end %>

 <div class="register-model">
     <%= link_to 'Registrar novo fabricante', new_manufacturer_path, class: 'btn btn-primary' %>
</div>