<% if @car_models.empty? %>
    <p>Nenhum modelo de carro cadastrado</p>
<% end %>

 <% @car_models.each do |car_model| %>
    <%= link_to car_model.name, car_model, class: "card bg-light mb-3" %>
<% end %>

 <div class="register-model">
    <%= link_to 'Registrar novo modelo', new_car_model_path, class: 'btn btn-primary' %>
</div>