<div class="welcome">
      <body>
      
        <% if notice %>
          <div class="alert alert-success" role="alert"> <%= notice %> </div>
        <% end %>
        <% if alert %>
          <div class="alert alert-warning" role="alert"> <%= alert %> </div>
        <% end %>
        
      </body>
  </div>
  
  <a href="users/sign_in" class="col-5 btn btn-primary botao animated fadeIn delay-2s">Já possuo conta</a>
  <h1 class="animated fadeIn delay-1s titulo">Rental Cars</h1>